<div class="col-md-12 col-xl-12" *ngIf="is_login">
    <div class="card card-contact-box ">
        <div class="card-block ">
            <div class="card-contain text-center ">
                <h4 class="f-w-600 f-20 p-b-5 m-0 p-t-15 ">Esto es una prueba 21</h4><br>
                <img src="assets/images/avatar-1.jpg" alt=" ">
                <h6 class="f-w-600 f-20 p-b-5 m-0 p-t-15 ">Gregory Johan</h6>
                <a href="javascript:">gregory.johan@demo.com</a>
                <p class="text-muted p-b-25 m-0 p-t-5 ">Software Developer</p>
            </div>
        </div>
        <div class="b-t-default">
            <div class="row m-0">
                <div class="col-6 p-t-15 p-b-15 ">
                </div>
                <div class="col-6 f-btn text-center p-t-15 p-b-15 ">
                    <a href="javascript:">
                        <i class="icofont icofont-user text-muted m-r-10 "></i>
                        <p class="text-muted m-0 text-uppercase d-inline-block ">Unirme</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
