<nb-card accent="success" style="border-radius: 15px" size="giant" class="card-top">
    <nb-card-header>
        <h2 style="text-align: center">
            Top 10 mejores proyectos
            <!-- <nb-icon status="danger" icon="trending-up-outline"></nb-icon> -->
        </h2>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let user of users">
                <nb-user style="cursor: pointer" size="large" [name]="user.name" [title]="user.title"
                    badgeText="Top"
                    badgeStatus="success"
                    badgePosition="top right">
                </nb-user>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>