<ul>
  <li class="booking-card" style="
      background-color: #6eadd4;">
    <div class="book-container">
      <div class="content">
        <button nbButton class="btn">Ver más</button>
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title">Titulo del proyectossssss-28</h2>
      <p class="sub-title">Subtitulo del proyecto. o breve descripcion.Subtitulo del proyecto. o breve descripcion. breve d-100</p>
      <br>
      <div class="row align-items-start">
        <div class="col align-self-center">
          <button nbButton size="large" ghost shape="round">
            <nb-badge text="9+" status="info" position="top right"></nb-badge>
            <nb-icon status="primary" nbTooltip="Recaudaciones" nbTooltipPlacement="top" icon="shopping-bag-outline">
            </nb-icon>
          </button>
        </div>
        <div class="col align-self-center">
          <button nbButton size="large" ghost shape="round">
            <nb-badge text="9+" status="info" position="top right"></nb-badge>
            <nb-icon status="primary" nbTooltip="Objetivo" nbTooltipPlacement="top" icon="trending-up-outline">
            </nb-icon>
          </button>
        </div>
        <div class="col align-self-center">
          <button nbButton size="large" ghost shape="round">
            <nb-badge text="9+" status="info" position="top right"></nb-badge>
            <nb-icon status="primary" nbTooltip="Donantes" nbTooltipPlacement="top" icon="smiling-face-outline">
            </nb-icon>
          </button>
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col align-self-center">
          <button nbButton size="medium" status="danger">Like<nb-icon icon="heart"></nb-icon></button>
        </div>
        <div class="col align-self-center">
          <button nbButton size="large" ghost status="success">Estado<nb-icon icon="flag">
            </nb-icon></button>
        </div>
      </div>

      <div class="more-information">
        <div class="info-and-date-container">
          <div class="box info">
            <p style="padding-bottom: 5px;">Quiero formar parte del equipo<nb-icon icon="flash">
            </nb-icon></p>
            <button nbButton size="small" status="warning">Unirme</button>
          </div>
          <div class="box date">
            <p style="padding-bottom: 5px;">Deseo contribuir al proyecto<nb-icon icon="heart">
            </nb-icon></p>
            <button nbButton size="small" status="success">Donar</button>
          </div>
        </div>
        <p class="disclaimer">
          <nb-icon icon="alert-circle"></nb-icon>
            Recuerda leer los terminos correspondiente con respecto a los proyectos y los limites al unirse.
        </p>
      </div>
    </div>
  </li>
</ul>

<!--      # Para formar parte del equipo el organizador de dicho proyecto debe aceptar tu solicitud.
          # El estudiante solo puede estar en 2 proyectos "activos" o "en curso" al mismo tiempo. Si el proyecto a unirse no este en uno de los estado previamente mencionados, su solicitud sera enviada  -->
<!-- 
          rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
  }
} -->