<nb-layout>
  <nb-layout-header fixed class="row">
    <div class="header-container col-md-3">
      <div class="logo-container">
        <a class="logo" href="">
          <img src="../../../../assets/logo.jpg" alt="Logo WorkSplice" /></a>
      </div>
    </div>

    <div class="header-container col-md-3 offset-md-7">
      <nb-search type="rotate-layout" placeholder="Buscar proyectos"
        hint="Es sencible a mayusculas y minusculas. Se minucioso :)"></nb-search>
      <div class="col-md-3">
        <nb-actions size="small">
          <nb-action class="user-action" *ngIf="is_login">
            <nb-user [nbContextMenu]="items" [onlyPicture]="userPictureOnly" name="boodah" title="Developer"
              [picture]="user?.primary" nbContextMenuTag="my-context-menu">
            </nb-user>
          </nb-action>
          <nb-action *ngIf="!is_login">
            <button nbButton status="primary">Inicia sesion</button>
          </nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <span class="created-by">Creado por
      <b><a href="https://github.com/boodahDEV" target="_blank"> ADS-WORKS </a>
        <nb-icon icon="github" size="small"></nb-icon>
      </b>
      2020</span>
  </nb-layout-footer>
</nb-layout>