<div class="col-12 row">
    <div class="col-2">
        <nb-card style="border-radius: 15px">
            <nb-card-body>
                <div class="card-block">
                    <div class="row justify-content-center">
                        <i class="icofont icofont-ui-add" style="color:grey; font-size: 40px; cursor: pointer;"
                            (click)="open()"></i>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <span>Crear Proyecto</span>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>