<div class="pcoded"
     [attr.nav-type]="navType"
     [attr.theme-layout]="themeLayout"
     [attr.layout-type]="layoutType"
     [attr.vertical-placement]="verticalPlacement"
     [attr.vertical-layout]="verticalLayout"
     [attr.pcoded-device-type]="deviceType"
     [attr.vertical-nav-type]="verticalNavType"
     [attr.vertical-effect]="verticalEffect"
     [attr.vnavigation-view]="vNavigationView"
     (window:resize)="onResize($event)">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" [attr.pcoded-header-position]="pcodedHeaderPosition" [attr.header-theme]="headerTheme">
      <div class="navbar-wrapper">
        <div class="navbar-logo" [attr.logo-theme]="">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/dashboard']" [queryParams]="{debug: true}">
            <img class="img-fluid" src="../../../assets/images/logo.jpg" alt="Theme-Logo"/>
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a></div>
              </li>
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
              <li class="header-notification" *ngIf="info_user ">
                <a href="javascript:;">
                  <i class="icofont icofont-notification"></i>
                  <span class="badge bg-c-pink">1</span>
                </a>
                <ul class="show-notification">
                  <li>
                    <h6>Notificaciones</h6>
                    <label class="label label-danger">New</label>
                  </li>
                  <app-notificaciones></app-notificaciones>
                </ul>
              </li>
              <li *ngIf="info_user ">
                <button nbButton status="control" shape="semi-round" siz="giant">Crear</button>
              </li>
              <!-- <li class="header-notification">
                <a href="javascript:;" (click)="toggleChat()" class="displayChatbox">
                  <i class="ti-comments"></i>
                  <span class="badge bg-c-green"></span>
                </a>
              </li> -->
              
              <li class="user-profile header-notification" *ngIf="info_user ">
                <a style="text-decoration: none;">
                  <img src="assets/images/unnamed.jpg" class="img-radius">
                  <span>{{info_user.name}} {{info_user.lastname}}</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a style="cursor:pointer; text-decoration: none;" [routerLink]="['/user/profile']">
                      <i class="ti-user"></i> Mi perfil
                    </a>
                  </li>
                  <li>
                    <a style="cursor:pointer; text-decoration: none;">
                      <i class="ti-light-bulb"></i> Mis proyectos
                    </a>  
                  </li>
                  <li>
                    <a style="cursor:pointer; text-decoration: none;">
                      <i class="ti-credit-card"></i> Mis ideas
                    </a>
                  </li>
                  <li>
                    <a style="cursor:pointer; text-decoration: none;" >
                     <i class="ti-settings"></i> Configuraciones
                    </a>
                  </li>
                  <li>
                    <a style="cursor:pointer; text-decoration: none;"  (click)="logout()">
                      <i class="ti-close"></i> Salir
                    </a>
                  </li>
                </ul>
              </li>

              
              <li class="user-profile header-notification" *ngIf="!info_user ">
                <button [routerLink]="['/authentication/login']" class="btn bg-c-default btn-outline-info btn-round" style="color: black;">Iniciar session</button>
              </li>



            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'" [attr.pcoded-header-position]="pcodedHeaderPosition" [attr.navbar-theme]="navBarTheme" [attr.active-item-theme]="activeItemTheme" sub-item-theme="theme2" active-item-style="style0" [attr.pcoded-navbar-position]="pcodedSidebarPosition">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu" appAccordion>
            <div class="pcoded-search">
              <span class="searchbar-toggle">  </span>
              <div class="pcoded-search-box ">
                <input type="text" placeholder="Search">
                <span class="search-icon"><i class="ti-search" aria-hidden="true"></i></span>
              </div>
            </div>
            <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 230px)'" [config]="config">
              <div *ngFor="let asideItems of menuItems.getAll()" class="d-color">
                <div class="pcoded-navigatio-lavel" [attr.menu-title-theme]="menuTitleTheme">{{asideItems.label}}</div>
                <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder" [attr.item-border-style]="itemBorderStyle" [attr.subitem-border]="subItemBorder" *ngFor="let asideItem of asideItems.main" appAccordionLink group="{{asideItem.state}}">

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="{{asideItem.state}}">
                    <a [routerLink]="['/', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle *ngIf="asideItem.main_state; else mainContent">
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ng-template #mainContent>
                      <a [routerLink]="['/'+asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </ng-template>
                  </li>
                  
                </ul>
              </div>
            </perfect-scrollbar>
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <div class="page-body">
                  <router-outlet>
                    <app-spinner></app-spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

