<div class="card-comment ">
    <div class="card-block-small">
      <img class="img-radius img-50" src="assets/images/avatar-1.jpg" alt="user-1">
      <div class="comment-desc">
        <h6>Luciano Durk</h6>
        <p class="text-muted ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        <div class="comment-btn">
          <button class="btn bg-c-blue btn-round btn-comment ">Action</button>
        </div>
        <div class="date">
          <i>04 October 2015</i>
        </div>
      </div>
    </div>
</div>