<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
  <nb-card style="border-radius: 5%;">
    <nb-card-body>
      <br>
      <img src="./../../../../../assets/images/logo_icon.jpg" width="" class="center" />
      <div class="row col-md-12 justify-content-center">
        <h1 id="title" class="title" style="text-align: center;">Iniciar sesión</h1>
        <p class="sub-title">
          ¡Hola! y bienvenido, inicia sesión con su correo institucional
        </p>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-7 align-self-center">
          <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
            <div class="form-control-group">
              <label class="label" for="input-email">Correo:</label>
              <input nbInput fullWidth [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email"
                shape="semi-round" pattern=".+@up\.ac\.pa$" placeholder="Ingresa tu correo" fieldSize="large" autofocus
                [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''" [required]=true type=email
                [attr.aria-invalid]="email.invalid && email.touched ? true : null">
              <ng-container *ngIf="email.invalid && email.touched">
                <p class="caption status-danger" *ngIf="email.errors?.required">
                  ¡Correo electronico es requerido!
                </p>
                <p class="caption status-danger" *ngIf="email.errors?.pattern">
                  ¡El correo electrónico debe ser el institucional!
                </p>
              </ng-container>
            </div>

            <br>

            <div class="form-control-group">
              <span class="label-with-link">
                <label class="label" for="input-password">Contraseña:</label>
                <a class="caption-2" routerLink="/auth/request-password">¿Se te olvidó tu contraseña o no tienes
                  acceso?</a>
              </span>
              <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
                nbInput id="input-password" shape="semi-round" placeholder="Ingresa tu contraseña" fieldSize="large"
                [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" [required]=true
                [minlength]=8 [attr.aria-invalid]="password.invalid && password.touched ? true : null">

              <ng-container *ngIf="password.invalid && password.touched ">
                <p class="caption status-danger" *ngIf="password.errors?.required">
                  ¡Se requiere contraseña!
                </p>
                <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                  La contraseña debe contener por lo menos 8 a carácter.
                </p>
              </ng-container>
            </div>

            <br>

            <button nbButton fullWidth status="success" shape="semi-round" size="large"
              [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
              Iniciar sesión </button>

          </form>
          <br>
          <section class="another-action" aria-label="Register">
            ¿No tienes una cuenta? <a class="text-link" style="cursor: pointer" routerLink="/authentication/register">Registrate</a>
          </section>
          <br><br>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

</div>