<div class="card widget-card-1">
    <div class="card-block-small">
        <i class="icofont icofont-{{icon_principal}} bg-c-{{color_icon}} card1-icon"></i>
        <span class="text-c-{{color_title}} f-w-600" style="font-weight: bold;">
            {{title}}
        </span>
        <h4>6/15<i class="text-c-{{color_title}} icofont icofont-user-alt-4 m-r-10"></i></h4>
        <div>
            <span class="f-left m-t-10 text-muted">
                <!-- <p class="text-muted"> -->
                <div *ngFor="let item of descripcion">
                    {{item}}
                </div>
                <!-- </p> -->
            </span>
        </div>
    </div>

</div>

<!--      # Para formar parte del equipo el organizador de dicho proyecto debe aceptar tu solicitud.
            # El estudiante solo puede estar en 2 proyectos "activos" o "en curso" al mismo tiempo. Si el proyecto a unirse no este en uno de los estado previamente mencionados, su solicitud sera enviada  -->