<div class="row">
  <div class="col-md-2">
    <app-panel-izq></app-panel-izq>
  </div>
  <div class="col-md-7">
    <nb-card style="border-radius: 15px" size="giant" class="card-hover-projects ">
      <nb-card-body class="row">
        <div class="col-md-4" *ngFor="let item of i">
          <app-panel-central></app-panel-central>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3">
    <app-panel-der></app-panel-der>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card style="border-radius: 15px" size="small" class="card">
      <nb-card-body> </nb-card-body>
    </nb-card>
  </div>
</div>