<div class="row">
    <div class="col-md-12">
        <nb-card accent="primary" style="border-radius: 15px" size="small" class="card">
            <nb-card-header>
                <h5 style="text-align: center">Parametros de busqueda</h5>
            </nb-card-header>
            <nb-card-body> </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card accent="primary" style="border-radius: 15px" size="small" class="card">
            <nb-card-body> </nb-card-body>
        </nb-card>
    </div>
</div>  